[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/libigl/eigen
[submodule "ext/glew"]
	path = ext/glew
	url = https://github.com/danielepanozzo/glew/
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm/
[submodule "ext/freetype2"]
	path = ext/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
